.login-background-image
.logo
.row.vertical-offset.panel-animate
  .col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3
    .panel.panel-default
      .panel-body.text-center
        - if @user.present? and @user.errors.any?
          - @user.errors.full_messages.each do |msg|
            %p= msg
        =form_for @user, :url => { :action => 'casting' } do |f|
          = f.label :name, '今すぐトークを始めよう！'
          = f.text_field :name, class: 'form-control', placeholder: 'ニックネーム', maxlength: '10'
          %span
            2文字以上10文字以内で入力してね
          .form-group 
            %img.radio-group{id:'male', src:'assets/male_selected.png', width:70, height:70}
            %img.radio-group{id:'female', src:'assets/female_selected.png', width:70, height:70}
            %input{name:'user[gender]', type:'hidden'}
            %br
            %br
            = f.submit "CAST NOW", id: 'submit', class: 'btn btn-lg btn-success btn-block'
:javascript
    $(function(){
      view.animatePanel();
      view.checkForm();
      view.makeRadioBtn();
    });
