.casting-background-image
.container
  .row
    .col-sm-8.col-sm-offset-2
      %label{:class => 'talk-message'}<> いっぱい話そう
      %span<>
        #room_timer
    .col-sm-1.col-sm-offset-1
      #exit_button
        %button{:class => 'btn btn-info btn-large', :type => "submit", :onclick => "exit_video_chat()"} Exit
  .row
    .col-sm-8
      .row
        .col-sm-5.col-sm-offset-1
          #streams-male
        .col-sm-5.col-sm-offset-1
          #streams-female
    .col-sm-2.col-sm-offset-1
      #video_change_button.form-group
        = label_tag :video_change, '映像ON/OFF', class: 'label-video-change'
        %form{:name => "video_change_form"}
          %input{:type => 'radio', :name => 'video_change', :id => "video_on", :checked => true, :onclick => "onVideoChange()"}
          %label{:for => 'on', :class => 'switch-on'} ON
          %input{:type => 'radio', :name => 'video_change', :id => "video_off", :checked => false, :onclick => "onVideoChange()"}
          %label{:for => 'off', :class => 'switch-off'} OFF
      #audio_change_button.form-group
        = label_tag :audio_change, '音声ON/OFF', class: 'label-audio-change'
        %form{:name => "audio_change_form"}
          %input{:type => 'radio', :name => 'audio_change', :id => "audio_on", :checked => true, :onclick => "onAudioChange()"}
          %label{:for => 'on', :class => 'switch-on'} ON
          %input{:type => 'radio', :name => 'audio_change', :id => "audio_off", :checked => false, :onclick => "onAudioChange()"}
          %label{:for => 'off', :class => 'switch-off'} OFF

:javascript
  $(function(){
    //var multyparty;
    video_chat_start(gon.user.room_id, gon.user.name, gon.user.gender, gon.user.id);

    $(window).on("beforeunload", function(e) {return "トークが終了します。";});
  });
