#exit_button
  %button{:type => "submit", :onclick => "exit_video_chat()"} Exit
#message
  %form
    %input{:type => "text"}/
    %button{:type => "submit"} send
  %p.receive
#room_timer
#streams
:javascript
  //room_id  と  a_nickname  は、rails側で動的に取得する
  //var multyparty;
  var s_roomid = 'room_id_ireru';
  var s_nickname = 'Ako'
  video_chat_start(s_roomid, s_nickname);
