.casting-background-image
.container
  .row
    .col-sm-2.col-sm-offset-10
      #wait_text
        ただいま集計中…
      %span.loading
        %span
        %span

:javascript
  //-----------------------------------
  // 現在の状態取得ポーリング
  //-----------------------------------
  console.log("ユーザーID：" + gon.user.id);
  //var wait_flag = 1;
  setInterval(function(){
    $.ajax({
      type: "GET",
      url: "/api/v1/vote/",
      data: gon.user.id,
      success: function(res){
        console.log(res);
        if(res.result=="match"){
          if(res.room_id){
            console.log("match");
            location.href = "/message/"+res.room_id;
          }
        }else if(res.result=="unmatch"){
            console.log("unmatch");
            location.href = "/"
        }else if(res.result=="wait"){
            console.log("wait");
        }  
      },
      error: function(e){
        console.log(e);
      }
    });
  }, gon.const.voting_interval);//5000msec
  //最大滞在時間 : gon.const.voting_max : 60000msec